/*------------------------Common - CSS-------------------------*/
body {
    background-image: url("/layout/candys.png"); /* Source : https://pixabay.com/ */
    background-repeat: no-repeat;
    background-size: 220px;
    background-attachment: fixed;
    background-position: top left;
    background-color: #95c5eb;
    font-family: Calibri, Verdana, sans-serif;
}

.nav {
    position: relative;
    background-color: #404040;
    margin: 2% auto 0 auto;
    padding: 0 0 0 5px;
    list-style-type: none;
    border-top: 2px solid #22680f;
    border-bottom: 2px solid #22680f;
    width: 64%;
    text-align: center;
}

.nav li {
    display: inline;
    padding: 10px 20px;
}

.nav li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 0;
    width: 15%;
    color: #e6e6e6;
}

.nav li a:hover {
    background-color: #1a1a1a;
}

.outerForm {
    margin: 1% auto 0 auto;
    width: 64%;
}

.divFirst {
    height: 450px;
    overflow-y: auto;
}

/*.tableFirst {*/
/*    border-collapse: collapse;*/
/*    border: 1px solid white;*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

/*.tableFirst tr {*/
/*    padding: 5px 30px;*/
/*}*/

.tableFirst tr th {

    /*border: 1px solid white;*/
    /*text-align: center;*/
}

.tableFirst tr td {
    padding: 5px 15px;
    /*text-align: center;*/
    /*color: #000000;*/
    /*background-color: #cfcfcf;*/
    /*border: 1px solid white;*/
}

.tableSecond {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.buttonRS {
    width: 100px;
}

/*-------------------------------------------------*/

/*------------------------index.php - CSS-------------------------*/
.mainTitle {
    color: #990b25;
}

.mainText {
    font-size: 15px;
}

/*-------------------------------------------------*/

/*------------------------products.php - CSS-------------------------*/
.divFirstProducts {
    height: 450px;
    overflow-y: hidden;
}

.divFirstProducts::-webkit-scrollbar {
    display: none;
}

.addProductsLink {
    width: 10%;
    background-color: #bab8b8;
    font-weight: bold;
    text-align: center;
    margin: 0 0 1px 89%;
}

.divSecondProducts {
    height: 85%;
    overflow-y: auto;
}

.divSecondProducts::-webkit-scrollbar {
    width: 10px;
}

.divSecondProducts::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #808080;
    border-radius: 10px;
}

.divSecondProducts::-webkit-scrollbar-thumb {
    background: rgb(153, 149, 149);
    border-radius: 10px;
}

.divSecondProducts::-webkit-scrollbar-thumb:hover {
    background: #535353;
}

.tableFirstProducts {
    border-collapse: collapse;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.99);
    color: white;
}

.tableFirstProducts tr th {
    padding: 5px 15px;
    border: 1px solid white;
    text-align: center;
}

.tableFirstProducts tr td {
    text-align: center;
    color: #000000;
    background-color: #cfcfcf;
    border: 1px solid white;
}

/*-------------------------------------------------*/

/*------------------------addProducts.php - CSS-------------------------*/
.tableFirstAP tr td {
    padding: 5px 30px;
}

/*-------------------------------------------------*/

/*------------------------search.php - CSS-------------------------*/
/*-------------------------------------------------*/

/*------------------------profile.php - CSS-------------------------*/
/*-------------------------------------------------*/

/*------------------------register.php - CSS-------------------------*/
/*-------------------------------------------------*/

/*------------------------login.php - CSS-------------------------*/
/*-------------------------------------------------*/

/*------------------------logout.php - CSS-------------------------*/
/*-------------------------------------------------*/

/*------------------------Footer - Common CSS-------------------------*/
footer {
    position: relative;
    margin: 1% auto 0 auto;
    width: 64%;
    height: 8%;
}

.foot_links {
    position: relative;
    color: #22680f;
}

.foot_links a {
    color: #990b25;
    display: inline-block;
    padding: 0 5px 0 5px;
    text-decoration: none;
}

.icons {
    position: relative;
    margin: 2px auto 0 auto;
    width: 60%;
    display: inline-block;
    border-top: 2px solid #22680f;
    border-bottom: 2px solid #22680f;
}

.icons img {
    width: 38px;
    height: 38px;
    background-color: #404040;
    border-radius: 10px;
    margin: 5px 8px 0 0;
}

.copyright {
    position: absolute;
    color: #404040;
    top: 29%;
    left: 39%;
}

.contact {
    position: absolute;
    text-align: right;
    top: 22%;
    right: 0;
    color: #404040;
}

/*-------------------------------------------------*/